@import "./scss/utils.scss";

.app__title {
	font-size: 48px;
	line-height: 1.71;
	margin: 0 0 28px;
}

.app__body {
	display: grid;
	grid-template-columns: auto minmax(400px, auto);
	grid-column-gap: 28px;
}

.app__trader-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

.app__trader-list__btn {
	width: 100%;
}

.app__info {
	width: 100%;
	border: 1px solid var(--color-border);
	border-radius: 20px;
	padding: 24px;
}

.app__info__head {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	margin-bottom: 24px;
}

.app__info__numbers {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.app__info__numbers__name {
	font-size: 14px;
	line-height: 1.43;
	color: var(--color-text-grey);
}

.app__info__numbers__vaslue {
	font-family: $title-font;
	font-weight: 400;
	font-size: 28px;
	line-height: 1.29;
}

.app__info__chart {
	width: 100%;
}

.swiper.app__slider {
	margin-right: -$block-padding-hor-m;
	margin-left: -$block-padding-hor-m;
	padding: 0 $block-padding-hor-m 28px;
	width: 100vw;

	.swiper-pagination {
		position: static;
		margin-top: 20px;

		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			border-radius: 8px;
			background: hsl(225, 21%, 89%);
			transition: 200ms ease-in-out;
			opacity: 1;
			transition-property: background, width;

			&.swiper-pagination-bullet-active {
				width: 20px;
				background: hsl(240, 13%, 81%);
			}
		}
	}
}

.app__slider__slide {
	display: flex;
	justify-content: center;
}

.app__slider__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--color-border);
	border-radius: 12px;
	padding: 24px;
	width: 100%;
	max-width: 430px;
}

.trader-btn.app__slider__btn {
	width: 100%;
	padding: 0;
	margin-bottom: 20px;

	&._active {
		background: transparent;
	}
}

.app__slider__numbers {
	width: 100%;
	display: flex;
	gap: 36px;
	margin-bottom: 32px;
}

.app__slider__chart {
	max-width: 100%;
	margin-bottom: 32px;
	pointer-events: none;
}

.btn.app__slider__btn {
	width: 100%;
}

@media screen and (max-width: 1100px) {
	.app__info__head {
		gap: 12px;
	}

	.app__info__numbers {
		gap: 2px;
	}

	.app__info__numbers__vaslue {
		font-size: 20px;
	}

	.btn.app__info__btn {
		min-width: 160px;
	}
}

@media screen and (max-width: 960px) {
	.app__trader-list {
		justify-content: start;
	}

	.app__info__head {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column: 24px;
	}
}

@media screen and (max-width: 768px) {
	.app__title {
		font-size: 28px;
		margin-bottom: 20px;
	}
}
