//--------------------
// SCSS VARIABLES
//--------------------

//sizes
$block-padding-hor: 30px;
$block-padding-hor-m: 20px;
$block-padding-ver: 100px;
$block-padding-ver-m: 16px;
$block-max-width: 1180px;

// fonts
$main-font: "Roboto", sans-serif;
$title-font: "Gotham Pro", sans-serif;

//--------------------
// SCSS MIXINS
//--------------------

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
