//--------------------
// SCSS VARIABLES
//--------------------

//sizes
$block-padding-hor: 30px;
$block-padding-hor-m: 20px;
$block-padding-ver: 100px;
$block-padding-ver-m: 20px;
$block-max-width: 1440px;

// fonts
$main-font: "Roboto", sans-serif;
$title-font: "Gotham Pro", sans-serif;

// colors
// css переменные для возможности впилить темизацию
body {
	--color-main: hsl(269, 90%, 55%);
	--color-main-hover: hsl(270, 76%, 44%);
	--color-main-active: hsl(269, 78%, 32%);
	--color-text: hsl(248, 61%, 7%, 1);
	--color-text-grey: hsl(247, 5%, 63%);
	--color-background: hsl(0, 0%, 100%);
	--color-background-grey: hsl(210, 25%, 97%);
	--color-border: hsl(220, 14%, 92%);
	--color-success: hsl(115, 63%, 43%);
}

//--------------------
// SCSS MIXINS
//--------------------

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
